<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 조회</title>
   <style>
     table>tr>td:nth-child(1){
      width: 75px;
     }

     td:nth-child(2) {
      padding-left: 4px;
   border: 1px solid black;
    border-collapse: collapse;
     }

   
   table{
    margin-bottom: 3px;
   }

         .bottom-border {
  border-width: 0 0
}

textarea {
       resize: none; /* 크기 조절 기능 비활성화 */
   }
   textarea:focus {
      outline : none;
   }
   
   .button_wrap{
    margin-top: 5px;
    margin-left: 67px;
   }

   </style>
</head>
<body>
<h3>게시글조회</h3>

<form action="" method="post">
  <table>
    <tr>
      <td><label for="udate">작성일자</label></td>
      <td><input class='bottom-border' type="text" id="udate" name="udate" th:value="${#temporals.format(postData.udate, 'yyyy-MM-dd HH:mm:ss')}" readonly></td>
    </tr>
    <tr>
      <td><label for="title">제목</label></td>
      <td><input class='bottom-border' type="text" id="title" name="title" th:value="${postData.title}" readonly></td>
    </tr>
    <tr>
      <td><label for="pname">작성자</label></td>
      <td><input class='bottom-border' type="text" id="pname" name="pname" th:value="${postData.pname}" readonly></td>
    </tr>
    <tr>
      <td><label for="detail">내용</label></td>
      <td><textarea class='bottom-border' rows="30" cols="60" id="detail" name="detail" th:text="${postData.detail}" readonly></textarea>
      </td>
    </tr>

  </table>
  <div class="button_wrap">
    <input id="modifyBtn" type="button" value="수정">
    <input id="deleteBtn" type="button" value="삭제">
    <input id="listBtn" type="button" value="목록">
  </div>
</form>
<dialog id="delModal">
  <p>삭제하시겠습니까?</p>
  <form action="" method="dialog">
    <button id="cancelBtn">취소</button>
    <button id="delItemBtn">삭제</button>
  </form>
</dialog>
<script th:inline="javascript">

  const $modifyBtn = document.getElementById('modifyBtn');

    //수정
    $modifyBtn.addEventListener('click',e=>{
      var pid = [[${postData.postId}]];
    location.href=`/post/${pid}/edit`; // GET http://서버주소 or 서버도메인/products/상품번호/edit
  });

  //삭제
  const $deleteBtn = document.getElementById('deleteBtn');
  // $deleteBtn.addEventListener('click', evt=>{
  //   if(!window.confirm('삭제하시겠습니까')) return;
  //   var pid = [[${postData.postId}]];
  //   location.href = `/post/${pid}/del`;
  // });

  /* 모달창 ---------------------------------------------*/
  const $delModal = document.getElementById('delModal');    //삭제 모달창
  const $cancelBtn = document.getElementById('cancelBtn');   //취소버튼 모달창
  const $delItemBtn = document.getElementById('delItemBtn'); //삭제버튼 모달창

  $deleteBtn.addEventListener('click',e=>{
    // if(!window.confirm('삭제하시겠습니까')) return;
    $delModal.showModal();
    
  });

  $delModal.addEventListener('close',evt=>{
    if($delModal.returnValue == 'ok'){
      var pid = [[${postData.postId}]];
      location.href = `/post/${pid}/del`; // GET http://서버주소 or 서버도메인/products/상품번호/del
    }
  });

  //취소버튼 모달창
  $cancelBtn.addEventListener('click', evt=>{
    $delModal.close('cancel'); 
  });

  //삭제버튼 모달창
  $delItemBtn.addEventListener('click', evt=>{
    $delModal.close('ok');     
  });  

  // 목록
  const $listBtn = document.getElementById('listBtn');
  $listBtn.addEventListener('click',e=>{
    location.href = '/post';      // GET http://서버주소 or 서버도메인/products
  }, false);


</script>
</body>
</html>